<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>
</head>
<body>
    <div>
        <div>
            <h2 id="menu">Você sabia?</h2>
            <ul>
                <li><a href="#01">Voto Feminino no Brasil</a></li>
                <li><a href="#02">Quem pode votar</a></li>
                <li><a href="#03">Quem pode ser eleito</a></li>
                <li><a href="#04">Eleições indiretas</a></li>
                <li><a href="#05">Pequena historia das eleições diretas</a></li>
                <li><a href="#06">Voto censitario</a></li>
                <li><a href="#07">Voto eletronico</a></li>
                <li><a href="#08">Compra de votos</a></li>
                <li><a href="#09">Como denunciar crimes eleitorais</a></li>
            </ul>
        </div>

        <div>
            <h2 id="01">A conquista do voto feminino no Brasil</h2>
            <h4>O voto feminino no Brasil foi reconhecido em 1932 e incorporado à Constituição de 1934, mas era facultativo. Em 1965, tornou-se obrigatório, sendo equiparado ao dos homens</h4>
            <figure>
                <img src="./imgs/mulehres.png" alt="" title="codigo eleitoral" width="900vh">
                <figcaption>Código Eleitoral de 1932 permitiu o voto feminino e criou a Justiça Eleitoral – Foto: TSE<figcaption>
            </figure>
            <p>As mulheres brasileiras conquistaram o direito de votar em 24 de fevereiro de 1932, por meio do Decreto 21.076, do então presidente Getúlio Vargas, que instituiu o Código Eleitoral. Vargas chefiava o governo provisório desde o final de 1930, quando havia liderado um movimento civil-militar que depôs o presidente Washington Luís. Uma das bandeiras desse movimento (Revolução de 30) era a reforma eleitoral. O decreto também criou a Justiça Eleitoral e instituiu o voto secreto. Em 1933, houve eleição para a Assembleia Nacional Constituinte, e as mulheres puderam votar e ser votapela primeira vez. A Constituinte elaborou uma nova Constituição, que entrou em vigor em 19 consolidando o voto feminino – uma conquista do movimento feminista da época.</p>
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="02">Quem pode votar?</h2>
            <p></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/80tI_7nYAi0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="03">Quem pode ser eleito?</h2>
            <h4>Vocês sabiam que para se candidatar a um cargo eletivo é necessário ter uma idade mínima?</h4>
            <img src="./imgs/Funcina Assim.png Assim.png" alt="" width="900vh">
 
            <p>Além da idade mínima, os candidatos não podem ser analfabetos, estrangeiros e inalistáveis (impedidos dese alistar como eleitores). Apesar de não poderem concorrer, os maiores de 16 e menores de 18, já têmpoder de voto.</p>
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="04">Eleições indiretas</h2>
            <p>Embora no Brasil a tradição democrática tenha eleito dezenove presidentes, por oito ocasiões foram realizadas eleições indiretas desde a proclamação da República. Nas eleições indiretas, a população não possui direito ao voto. Os representantes são escolhidos por um colégio eleitoral, constituído por uma assembleia fechada.
            <br>
            Instalada a República, Marechal Deodoro da Fonseca, líder do movimento militar republicano, assumiuprovisoriamente a presidência da República e foi eleito presidente, pelo Congresso, em eleição indireta, realizada em 25 de fevereiro de 1891, pela Assembleia Constituinte. Foi, entretanto, no recente períododa Ditadura Militar, iniciado em 1964, que as eleições indiretas tornaram-se uma prática.</p>
        </div>

        <div>
            <h2 id="05">Pequena historia das eleições diretas</h2>
            <img src="./imgs/historia.png" alt="" width="1000vh">
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="06">Voto censitario</h2>
            <p>O Voto censitário era a concessão do direito do voto apenas àqueles cidadãos que possuíam certos critérios que comprovassem uma situação financeira satisfatória. Desse modo, os cidadãos eram classificados em ativos – que pagavam impostos- e passivos que tinham uma renda baixa. Apenas os ativos tinham o direito de votar.

            Na época colonial, só podiam votar (e ser votados) nobres, burocratas, militares, comerciantes ricos,senhores de engenho e homens de posses, mesmo analfabetos. Em 25 de março de 1824, D. Pedro I outorgou aprimeira Constituição brasileira e estabeleceu o voto censitário. O processo eleitoral seria realizado emdois turnos: eleições primárias, para a formação de um colégio eleitoral que, nas eleições secundárias,elegeria os senadores, deputados e membros do Conselho da Província. Só o alcaide-mor, espécie deprefeito, era indicado pelo rei.
                
            Hoje, diferente daquela época, o direito de voto é universal, independente de renda, raça ou religião, que é mais democrático. O voto no Brasil é obrigatório e um direito de todo cidadão brasileiro acima d16 anos.</p>
            <img src="./imgs/censitario.png" alt="" width="800vh">
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="07">Voto eletronico</h2>
            <p> Na gestão do Ministro Carlos Velloso, em 1995, iniciou-se a informatização do voto. Um grupo de juristas e técnicos apresentaram um protótipo de urna eletrônica, dando início ao trabalho que contou com a colaboração de especialistas em informática, eletrônica e comunicações da Justiça Eleitoral, das Forças Armadas, do Ministério da Ciência e Tecnologia e do Ministério das Comunicações.</p>
            <img src="https://www.tre-mt.jus.br/imagens/imagens/tre-mt-urna-eletronica-1623178345660/@@images/71fa8229-9a1d-465f-8866-3a0f3409e0cb.jpeg" alt="">
            <p>A primeira votação eletrônica no Brasil ocorreu em 1996, sob a presidência do Ministro Marco Aurélio Mendes de Farias Mello. Na época, um terço do eleitorado votou nas urnas eletrônicas. Nas eleições de 1998, votaram, eletronicamente, dois terços dos eleitores. Finalmente, no ano 2000, o projeto foi implementado em sua totalidade, ocasião em que todo eleitorado votou por meio eletrônico. Em 2006, votaram, eletronicamente, cerca de cento e vinte e cinco milhões de brasileiros.</p>
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="08">Compra de votos</h2>
            <p>Apesar de proibida, a compra de votos é muito comum em todas as regiões do Brasil. Os candidatos, perto das eleições, oferecem cestas básicas, materiais de construção, dentaduras, óculos, passagens de ônibus, presentes, entre outros tantos benefícios. Infelizmente, isso acontece mais do que deveria e é nosso dever combater essa situação.

            Cada brasileiro é responsável pelo seu voto. Quando opta por um candidato que compra votos, está elegendo um corrupto. Se ele faz isso antes de ocupar o cargo, imagina o que fará com seu dinheiro, o dinheiro público, após ser eleito?
                
            Pense bem antes de votar, porque depois pode ser tarde demais. Se nosso dinheiro, ao invés de ser usadoem obras para a melhoria de instalações de hospitais, de saneamento básico ou de segurança, for desviado para interesse particular do político eleito, parte da responsabilidade será nossa. <br>
                
            <strong>Vamos ficar de olho!</strong> </p>
            <a href="#menu">Voltar ao menu</a>
        </div>

        <div>
            <h2 id="09">Como denunciar crimes eleitorais</h2>
            <p>Se você tiver conhecimento de algum crime eleitoral, pode denunciar o fato. Você não precisa ter recebido qualquer benefício, basta que o candidato ou alguém que trabalhe para ele tenha lhe oferecido alguma vantagem em troca do seu voto.</p>
            <img src="./imgs/denuncie.png" alt="" width="900vh">
            <p>Não tenha medo, sua identidade será mantida em sigilo, caso você queira assim.</p>
            <a href="#menu">Voltar ao menu</a>
        </div>
    </div>
</body>
</html>