* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cardP6 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}



.Qu1 {

    padding: 0.5rem;
    gap: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;

}

.Qu11 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.Qu2 {
    margin-top: -2rem;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.cardft2 {
    margin-top: -2rem;
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    max-width: 800px;
}

.histo {
    margin-top: -1rem;
    width: 100%;
    max-height: 50rem;
}

/* ------------------ */


.cardP6 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.Qu15 {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0.5rem;
}

.volta4 {
    border: dashed 2px rgb(0, 0, 0);
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

/* ----------- */
.TituloSaberMais2 {
    font-size: 3.4rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* =----------------------= */


.cardP7 {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.Qu16 {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    padding: 0.5rem;
}

.Titu9 {
    font-weight: 700;
    font-size: 3.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: justify;
}

.TituloSaberMais3 {
    font-size: 3.5rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.Text16 {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

.cardft7 {
    width: 50%;
    min-width: max-content;
    display: flex;

    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    align-items: center;

}

.censi {
    width: 100%;
    max-height: 70rem;
}


/* ------------------ */

.TituloSaberMais4{
    font-size: 4.2rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cardP8 {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.cardP9 {
    margin-top: -1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.Qu12 {
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

}



.Titu10 {
    font-weight: 700;
    font-size: 3.5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.TituloSaberMais3 {
    font-size: 3.5rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* ---------==------- */

.cardP11 {
    margin-top: -1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem; 
    justify-content: space-between;

    align-items: center;
}

.TituloSaberMais5{
    font-size: 4.2rem;
    margin-top: 2.2rem;
    font-weight: 900;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.Text17 {
    margin-top: 1rem;
    display: flex;
    width: 50%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}
.Text18 {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}
.Qu13 {
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;

}
.olho{
    font-size: 3rem;
    font-weight: 800;
    transition: 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: olho 3s linear infinite;
   
}
.do{
    width: 70%;
}
@keyframes olho {
    0%{
        border: solid 2px red;
        color: #fff;
        
    }
    50%{
        border: solid 2px rgb(248, 248, 248);
        color: rgb(220, 14, 14);
        
    }
    100%{
        border: solid 2px red;
        color: rgb(23, 149, 177);
    }
}

.Qu14 {
    padding: 0.5rem;
    gap: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}






@media (max-width:890px) {
    .D11 {

        display: flex;
        width: 100%;
        text-align: center;
    }

    .cardP1 {
        flex-wrap: wrap;
        margin-top: -2rem;
    }

    .Qu11 {

        margin-top: -2rem;
    }
}


/* =----------------------------= */

.denu{
    margin-top: -1rem;
    width: 100%;
    max-height: 50rem;
}



.n{
    font-size: 3rem;
    font-weight: 800;
    transition: 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: olho 3s linear infinite;
}














@media (max-width:1229px) {
    .cardP7 {

        width: 100%;
        display: flex;

        flex-wrap: wrap;
        margin-top: -0.1rem;
    }
    .cardP9 {
        width: 100%;
        flex-wrap: wrap;
        
        display: flex;
    }
    .Qu1 {
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .TituloSaberMais3 {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .Text16 {
        display: flex;
        width: 100%;
        font-size: 1.2rem;
        flex-direction: column;
    }
}