.corpo {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  }
 
  
  .corpo1 {
    background: linear-gradient(240deg, #31b719,rgb(31, 73, 131), #e2d522);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff;
  }
  
  .app2 {
    background-color: #252d4a;
    width: 50%;
    min-width: 210px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 25px;
    gap: 1rem;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;

  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 40%;
    min-width: 210px;
    border:solid 1px rgb(94, 94, 94);
  
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;

    min-width: 120px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  
  }

  .voltar1{
    width: 50%;
    min-width: 6rem;
    font-size: 1.1rem;
    font-weight: 600;
    font-family:"Verdana", cursive, sans-serif;
    border-radius: 0.3rem;
    outline: none;
    border:none;
    background:#E85C5C;
    gap: 1rem;
    color: #ffffff;
    cursor: pointer;
  }
  .refazer{
    width: 50%;
    min-width: 6rem;
    font-size: 1.1rem;
    font-weight: 600;
    font-family:"Verdana", cursive, sans-serif;
    border-radius: 0.3rem;
    outline: none;
    border:none;
    background:#31b719;
    gap: 1rem;
    color: #ffffff;
    cursor: pointer;
  }
  .voltar2{
    width: 50%;
    min-width: 6rem;
    font-size: 1.1rem;
    font-weight: 600;
    font-family:"Verdana", cursive, sans-serif;
    border-radius: 1rem;
    outline: none;
    border:none;
    background: linear-gradient(0deg,#E85C5C,#252d4a);
    gap: 1rem;
    animation: 0.9s b1  linear infinite;
    color:rgb(247, 203, 203);
    cursor: pointer;
    
  }
  .texto{
    font-size: 3rem;
    position: absolute;
    top: 1.5rem;
    display: flex;  
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    gap:0.4rem;
    flex-wrap: wrap;
   
   
  }
  .titulo{
    margin-top: -3.9rem;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .subtitulo{
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: justify;
   
  }
  @keyframes b1{
    0%{
      transition: 1s;
      transform: rotate(0deg);
      background: linear-gradient(0deg,#E85C5C,#252d4a)
    }
    50%{
      transition: 3s;
      transform: rotate(5deg);
      background: linear-gradient(5deg,#252d4a,#E85C5C)
    }
  }
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 220px;
    padding: 10px;
  }
  
  .botao {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #303752;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #ce6a00;
    cursor: pointer;
    
  }
  @media (max-width:700px){
    .app2{
      flex-wrap: wrap;
    }
    .faixas2{
      top: 23.8rem
    }
  }
  @media (max-width:430px){
    .texto{
      font-size: 2.5rem;
    }
  }
  @media (max-width:380px){
    .texto{
      font-size: 1.9rem;
    }
  }
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .botao:hover {
    background-color: #555e7d;
  }
  
  .botao:focus {
    outline: none;
  }
  
 .botao svg {
    margin-right: 5px;
  }
  .faixas{
    width: 100%;
    min-width: 200px;
    position: absolute;
    margin-top: -2rem;
    display: flex;
    padding: 0 0.1rem;
    flex-direction: column;
    justify-content: center;

  }
  .faixa1{
    height:1rem;
    background: green;
  }
  .faixa2{
    height:1rem;
    background: rgb(202, 224, 4);
  }
  .faixa3{
    height:1rem;
    background: rgb(14, 72, 219);
  }
  
  /* ------- */

  .faixas2{
    width: 100%;
    min-width: 200px;
    position: absolute;
    display: flex;
    margin-top: 17.8rem;
    padding: 0 0.1rem;
    flex-direction: column;
    justify-content: center;

  }
  @media (max-width:380px){
    .faixas2{
         margin-top: 2rem;
    }
  }
  .faixa4{
    height:1rem;
    background: rgb(14, 72, 219);
  }
  .faixa5{
    height:1rem;
    background: rgb(202, 224, 4);
  }
  .faixa6{
    height:1rem;
    background: green;
  }
  