* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabeça {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

}

.D11 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 0 0.5rem;
    min-width: 250px;
}

.TituloSaberMais {
    font-size: 4rem;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width:890px) {
    .D11 {

        display: flex;
        width: 100%;
        text-align: center;
    }

    .cardP1 {
        flex-wrap: wrap;
        margin-top: -2rem;
    }

    .Qu11 {

        margin-top: -2rem;
    }

    .Qu1 {

        margin-top: -0.1rem;
    }
}
@media (max-width:941px) {
  .Qu4{
    flex-wrap: wrap;
  }
}
.cardP1 {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;

}

.Titulo0{
    font-weight: 700;
    font-size: 2.9rem;
    display: flex;
    justify-content: center;
    text-align: justify;
}
.Qu1 {
    padding: 0.5rem;
    gap: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;

}

.Qu11 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.cardft {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 400px;

}

.saber {
    width: 100%;
    max-height: 30rem;

}

/* --------------------------- */



.cardP2 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}
.Titulo9{
    font-weight: 700;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    text-align: justify;
}
.Qu2 {
    margin-top: -2rem;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.Text11 {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

.Qu22 {
    margin-top: -4rem;
    padding: 0.5rem;
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.cardft2 {
    
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    max-width: 500px;

}
.t{
    margin-top: -1rem;
}
.mu{
    width: 100%;
    max-height: 40rem;
}

.Text13 {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    text-align: justify;
    font-weight: 550;
}

/* ----- */

.cardft3 {
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    max-width: 500px;

}
.Qu222 {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
}
.volta{
    border: dashed 2px rgb(0, 0, 0);
    display: flex;
    width: 90%;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}
.Du2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-items: start;
    align-items: flex-start;
    padding: 0 0 0 0.5rem;
    min-width: 250px;
}

/* ------------- */
.Titulo10{
    font-weight: 700;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    text-align: justify;
}
.Text12 {
    margin-top: -2rem;
    display: flex;
    width: 90%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}
.vicard{
    margin-top: -2rem;
}
.volta2{
    margin-top: -1rem;
    border: dashed 2px rgb(0, 0, 0);
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

.Qu3 {
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
/* -------------------- */


.cardP4 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}
.Qu4 {
    margin-top: -3rem;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.Text12 {
    margin-top: -1rem;
    display: flex;
    width: 80%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

.Qu7 {
    margin-top: -1rem;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
/* --------------------------- */

.il{
    font-size: 1.2rem;
    font-weight: 600;
}

.vicard{
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 600px;
}
.vid{
    width: 100%;
    height: 25rem;
    max-height: max-content ;
}
.funci{
    width: 100%;
    max-height: 40rem;
}

.cardft5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    max-width: 660px;
}

.Text13 {
    margin-top: -1rem;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}