<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia da eleições</title>
</head>
<body>
    <nav>
        <a href="#01">Eleições presidenciais no Brasil | </a>
        <a href="#02">Primeiro presidente do brasil | </a>
        <a href="#03">Como funcionam as eleições no Brasil? |</a>
        <a href="#04">Historia das eleições no mundo |</a>
    </nav>
    <div class="principal">

        <div class="conteiner">
            <h2 id="01" class="titulo">Eleições presidenciais no Brasil</h2>
            <p class="conteiner-txt">As eleições presidenciais começaram a acontecer no Brasil, evidentemente, após a Proclamação da República e a 
                escolha do presidencialismo como forma de governo. O primeiro presidente do Brasil foi o marechal Deodoro da Fonseca, nomeado presidente
                provisório e depois eleito indiretamente presidente do Brasil. O primeiro presidente eleito por voto direto foi Prudente de Morais, 
                vencedor da eleição de 1894.Como citado, o período da Primeira República foi marcado pela fraude eleitoral. Por fraude estão incluídas 
                a manipulação das atas eleitorais, a compra de votos pela concessão de favores, a intimidação dos eleitores, etc. A intimidação dos 
                eleitores, por exemplo, foi uma prática que ficou conhecida como voto de cabresto.Ao longo desse período, registraram-se apenas três 
                eleições em que a disputa presidencial foi razoavelmente equilibrada:
                <ul>
                    <li>Em 1910, Hermes da Fonseca derrotou Rui Barbosa com mais de 60% dos votos;</li>
                    <li>Em 1919, Epitácio Pessoa derrotou Rui Barbosa com 71% dos votos;</li>
                    <li>Em 1922, Artur Bernardes derrotou Nilo Peçanha com 60% dos voto;</li>
                    <li>Em 1930, Júlio Prestes derrotou Getúlio Vargas com 60% dos voto;</li>
                </ul>
                Em todas as outras eleições, o vencedor teve aproximadamente 90% dos votos (alguns até bem mais que isso). Esse cenário de fraude eleitoral, 
                inclusive, foi um dos motivos que levou ao surgimento do tenentismo, movimento de jovens oficiais do Exército Brasileiro que exigiam reformas no 
                país, entre as quais constava o fim das fraudes nas eleições. A continuidade do sistema de eleições diretas para presidente foi interrompida com a 
                ascensão de Getúlio Vargas à presidência. Vargas tornou-se presidente após a Revolução de 1930 ter destituído Washington Luís da presidência. Com essa 
                revolução, o vencedor da eleição de 1930, Júlio Prestes, foi impedido de tomar posse. A partir de 1930, durante os quinze anos seguintes, a única eleição 
                presidencial no Brasil aconteceu em 1934 e foi indireta. Depois que Vargas renunciou em 1945, o Brasil deu início à sua primeira experiência democrática 
                no período da Quarta República. Esse período estendeu-se de 1945 a 1964 e contou com eleições presidenciais nos anos de 1945, 1950, 1955 e 1960. 
                Segue abaixo a lista de eleições presidenciais que aconteceram nesse período:
            </p>
            <img src="./tabela 1.png" alt="">
        </div>
        <div class="conteiner">
        </div>

        <div class="conteiner">
            <p class="conteiner-txt">O mandato presidencial durante a Quarta República era de cinco anos, e não havia a possibilidade de disputar a reeleição. Outro ponto 
                era que o vencedor da disputa era decretado em turno único, portanto, exigia-se apenas a maioria simples dos votos. Uma questão interessante do sistema 
                eleitoral dessa época era que os eleitores brasileiros também votavam separadamente para vice-presidente.Esse sistema fez com que, em ocasião específica, 
                fossem eleitos presidente de uma chapa e vice-presidente de outra. Em 1960, o vice-presidente eleito foi João Goulart, que concorria pela chapa de Henrique 
                Teixeira Lott. Com isso, o presidente Jânio Quadros era da UDN, e o vice João Goulart era do PTB. A realização de eleições presidenciais no Brasil foi 
                interrompida novamente quando os militares tomaram o poder com o golpe de 1964. As eleições diretas para presidente foram abolidas no país com o decreto do 
                Ato Institucional nº 2 em 27 de outubro de 1965. Com isso, todos os “presidentes” desse período foram eleitos indiretamente.
            </p>
            <figure>
                <img class="conteiner-img" src="https://live.staticflickr.com/7320/12745267283_25c3f0a631_b.jpg" alt="" title="Diretas Já">
                <figcaption>Comício das “Diretas Já” organizado em São Paulo em 1984. Essa campanha foi o símbolo brasileiro pelo direito ao voto. (Créditos: FGV/CPDOC)</figcaption>
            </figure>
        </div>

        <div>
            <p>Durante o governo de Sarney, foi elaborada e promulgada a Constituição de 1988, a atual Constituição do Brasil. Ela regulou o funcionamento do sistema 
                eleitoral que está em vigência até hoje. Em 1997, o sistema eleitoral foi aprimorado com a Lei das Eleições. De 1988 para cá, aconteceram eleições 
                presidenciais nos seguintes anos:</p>
            <img src="./tabela 2.png" alt="">
        </div>

        <div>
            <h2 id="02">O primeiro presidente do Brasil</h2>
            <p>Deodoro da Fonseca (1827-1892) foi o primeiro presidente a governar o país depois do golpe de Estado republicano que deu início à fase do Brasil República.
                O fato ocorreu em 15 de novembro de 1889 pelas mãos do Exército. Escolhido de forma indireta, ou seja, sem o apoio popular, Deodoro governou o Brasil por 
                dois anos, pois em 1891 renunciou. Sua saída se deu por conta da dificuldade de governar frente à grande instabilidade que tomou conta do país, recém-saído da monarquia.
                Assim, ele dá lugar ao vice Floriano Peixoto (1839-1895), que termina de consolidar o novo regime. Deodoro da Fonseca nasceu no estado de Alagoas em 5 de agosto de 1827.
                Seu pai era integrante do exército e incentivou os sete filhos a seguirem a mesma carreira. Assim, aos 16 anos, Deodoro inicia os estudos para se tornar militar e em 1847 finaliza 
                o curso de Artilharia no Colégio Militar do Rio de Janeiro. Com o cargo de segundo-tenente, ajudou a reprimir a Revolução Praieira em Pernambuco em 1849. Mais tarde, em 1856 foi nomeado capitão.
                Assim, seguiu subindo de posto, até que em 1884 foi nomeado marechal, por isso é também conhecido como Marechal Deodoro da Fonseca.
                Sua vida na política durou pouco tempo e foi marcada por conflitos políticos e econômicos. Marechal Deodoro faleceu aos 65 anos em 1892 no dia 23 de agosto, por conta de problemas respiratórios.
            </p>
            <figure>
                <img class="conteiner-img" src="https://s.ebiografia.com/img/de/od/deodoro_da_fonseca_bernardelli_c.jpg" alt="" title="Deodoro da Fonseca">
                <figcaption>Retrato de Deodoro da Fonseca feito pelos irmãos Bernardelli.</figcaption>
            </figure>
        </div>

        <div>
            <h2 id="03">Como funcionam as eleições atualmente?</h2>
            <p>O funcionamento do sistema eleitoral brasileiro segue as determinações do Código Eleitoral Brasileiro, documento que agrupa a Constituição, 
                a Lei das Eleições e uma série de outras leis eleitorais. A eleição presidencial aqui no Brasil acontece regularmente a cada quatro anos. Nela, 
                a população elege também governadores, senadores, deputados federais, estaduais e distritais (este vale para o caso do Distrito Federal). 
                A cada quatro anos, também são realizadas eleições para prefeitos e vereadores. Nos cargos do Executivo (presidente, governadores e prefeitos), a 
                disputa acontece em duas etapas: primeiro e segundo turno. A legislação brasileira determina que um candidato é eleito em primeiro turno caso ele 
                alcance 50% + 1 dos votos válidos, se obtiver, portanto, a maioria absoluta dos votos. Os votos em branco e nulos não são considerados votos válidos 
                e são descartados. Se nenhum candidato obtiver a maioria absoluta dos votos no primeiro turno, os dois melhores colocados vão para a disputa do segundo 
                turno, e aquele que obtiver a maioria dos votos válidos é decretado vencedor. Na disputa presidencial, somente Fernando Henrique Cardoso venceu as 
                eleições que disputou no primeiro turno. No caso de senadores, a eleição acontece por maioria simples. Assim, o candidato (ou os candidatos, caso esteja 
                em disputa mais de uma vaga) que obtiver a maioria simples dos votos válidos é eleito. Para eleição de deputados (todos eles) e vereadores, a disputa 
                acontece por uma eleição proporcional, que varia de acordo com o quociente eleitoral, ou seja, com o mínimo de votos que um candidato de determinado 
                partido precisa obter para ser eleito. A duração dos mandatos varia de acordo com os cargos. Presidente, governadores e prefeitos têm direito a um mandato 
                de quatro anos, podendo disputar uma reeleição. No caso de deputados e vereadores, o mandato também é de quatro anos, podendo ser reeleitos quantas vezes 
                for possível. Já os senadores têm o cargo de oito anos de duração, podendo reeleger-se indefinidamente também.A votação no Brasil sempre acontece no mês de 
                outubro, sendo o primeiro domingo do mês dedicado para o primeiro turno, e o último domingo do mês dedicado para o segundo turno, caso haja necessidade. 
                O voto no Brasil é obrigatório para cidadãos com idade entre 18 anos e 70 anos (com algumas exceções previstas em lei). Pessoas com idade entre 16 anos e 
                18 anos, acima de 70 anos e analfabetos não são obrigadas a votar. O direito para estes é facultativo.
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/N6DkjNbfvLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div>
            <h2 id="04">História das eleições no mundo</h2>
            <p>O desenvolvimento dos sistemas eleitorais pelo mundo não aconteceu de maneira uniforme e linear. Alguns locais utilizavam um sistema de votação, 
                enquanto outros só foram desenvolver um sistema tardiamente. Algumas civilizações desenvolveram um sistema eleitoral ainda na Antiguidade.
                Um exemplo disso era o modelo que existia na cidade de Atenas durante o período da Antiguidade Clássica. Atenas é conhecida por ter sido a 
                cidade que desenvolveu a democracia, e o sistema ateniense dava direito ao cidadão de envolver-se diretamente nas decisões que eram tomadas. 
                No entanto, o conceito de cidadania em Atenas era muito limitado, e somente homens livres, nascidos em Atenas e com treinamento militar tinham direito.                
                Com isso, cerca de 20% da população da cidade tinha direito ao voto, e o restante era excluído. Os grupos que não tinham acesso ao voto em 
                Atenas eram mulheres, estrangeiros e escravos. Essas eleições eram realizadas, por exemplo, para escolha de pessoas para ocupar postos militares.                
                Além dos gregos, os historiadores sabem que outros povos realizavam eleições. Esse é o caso dos romanos, hindus e celtas. O funcionamento, 
                finalidade e particularidade desses sistemas eleitorais, naturalmente, mudavam de povo para povo.                
                Atualmente, o sistema político que existe em grande parte do mundo, principalmente no Ocidente, é a conhecida democracia representativa. 
                Esse sistema surgiu por volta do século XVIII e foi inspirado nos ideais iluministas e em acontecimentos como a Revolução Americana e a Revolução 
                Francesa. Pelas raízes iluministas, esse sistema indica, portanto, a necessidade do envolvimento do povo na escolha dos representantes que legislarão ou
                governarão em seu nome. O sistema representativo ganhou muita força depois da Segunda Guerra Mundial, principalmente, na Europa e na América do Norte. 
                Alguns países, como Estados Unidos, França, Suécia e Dinamarca, possuem democracias representativas tradicionais. Essa tendência, porém, tem perdido força,
                uma vez que cientistas políticos têm apontado para o crescimento de regimes autoritários, governados por autocratas.                
                Esse é o caso de países como Rússia, Venezuela, Filipinas, Turquia e Hungria. Nesses países, apontam os cientistas políticos Steven Levitsky e 
                Daniel Ziblatt|2|, o sistema democrático representativo ruiu quando políticos autoritários foram eleitos para cargos de importância (presidente ou primeiro-ministro).
            </p>

        </div>
    </div>
</body>
</html>