
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media (max-width:890px) {
    .Q1 {
        flex-wrap: wrap;
    }
   .q3 {
        flex-wrap: wrap;
    }

    .q4 {
        flex-wrap: wrap;
    }
}

@media (max-width:1230px){
    .graphics{
        flex-wrap: wrap;
    }
}
.backG {
    max-width: 100%;
    max-height: 100%;
    color: rgb(3, 2, 2);
    background: #dfd9f2;
}

.Textos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  
}

.D1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0.5rem;
    min-width: 250px;
}

.Titul1 {
    font-size: 3.4rem;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Subt {
    font-size: 1.9rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.D2 {
   
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0.5rem;
    min-width: 250px;
}

.navegadores{
    width: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
a{
    color: #000000;
    text-decoration: none;
    max-width: max-content;
    padding: 0 0 0 0.5rem;    
    
    /* border: solid rgb(0, 255, 30) 1px; */

}
.home1{ 
    width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.Principal1 {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
}

.Q1 {
    padding: 0.5rem;
    margin-top: 3rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.Titulo{
    font-weight: 700;
    font-size: 2.4rem;
}
.Textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.Qf1 {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 700px;

}
.fak{
    width: 100%;
    max-height: 60rem;

}
.Text1 {
    display: flex;
    width: 90%;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-weight: 550;
}

/* --------------- */

.Principal2 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}
.Q2 {
    padding: 0.2rem;
    margin-top: 0.2rem;
    width: 100%;
    gap: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.Titulo1{
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 1rem;
    
}
.Text2 {
    width: 90%;
    margin-top: -0.5rem;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 550;
    text-align: justify;


}

.Q22{
    width: 100%;
    gap: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.tx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Qf2 {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 700px;

}
.qr{
    width: 100%;
    max-height: 60rem;
}
/*--------------------------*/

.Principa3 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    
}

.Q3 {
    padding: 0.2rem;
    margin-top: 0.2rem;
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    flex-wrap: wrap;
}
.Q33{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.lista{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}
.Ttulo2{
    font-weight: 700;
    font-size: 2.7rem;
    margin-top: 1rem;
}
.Text3 {
    width: 90%;
    margin-top: -0.5rem;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 550;
    text-align: justify;

}
.Qf3 {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 800px;
    margin-top: -0.5rem;
    padding: 0.4rem;

}
.tabe{

    width: 100%;
    max-height: 80rem;

}

/* ---------------------------------------------------------- */

.Principal4 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    
}

.Q4 {
    padding: 0.2rem;
    margin-top: 0.2rem;
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.Text4 {
    width: 90%;
    margin-top: -0.5rem;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 550;
    text-align: justify;

}
.Q44{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}


.Qf4 {
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 0.2rem;
    padding: 0.4rem;

}
.ja{
    margin-top: -0.5rem;
    width: 100%;
    max-height: 70rem;

}

.Q444{
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.Qf5 {
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}
.tab2{
    width: 100%;
    max-width: 50rem;
}
.Qf1 {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 700px;

}
.de{
    margin-top: 1rem;
    width: 100%;
    max-width: 20rem;

}




/*--------------------------------*/

.principal3 {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    gap: 1rem;
}



.q5 {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 550;
    max-width: max-content;
  
}

.text5 {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    max-width: max-content;
}

.graphics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 0.5rem;
    gap: 1rem;
}
.barra{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navb{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: max-content;
    text-decoration: none;
    font-size: 1rem;
    
    
}
.btao1{
    width: 100%;
    display: flex;
    min-width: max-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: rgb(179, 117, 169);
    color:#fff;
    border: none;
    outline: none;

}

/* ------------------ */


/* ---------------- */